<!-- Always shows a header, even in smaller screens. -->
<span class="mdl-layout-title">Q</span>
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home 首页</a>
    <a class="mdl-navigation__link" href="/basic/">Basic 基础</a>
    <a class="mdl-navigation__link" id="research-link" href="#">Research 研究</a>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="research-link">
            <a href="/dma/" class="mdl-menu__item">DMA 双均线策略</a>
            <a href="/simulation/" class="mdl-menu__item">Simulation 模拟回测</a>
        </ul>
    <a class="mdl-navigation__link" id="use-link" href="#">Use 应用</a>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="use-link">
            <a href="/use/" class="mdl-menu__item">Signal 策略信号</a>
            <a href="/realtime/" class="mdl-menu__item">Realtime 实时</a>
        </ul>
</nav>