{% extends "partials/base.html" %} {% block content %}
<div id="q-basic">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-grid mdl-grid--no-spacing mdl-cell--3-col">
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Start</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        <input class="mdl-textfield__input search-input" type="text" id="keyword" />
                        <label class="mdl-textfield__label" for="keyword">代码/名字</label>
                    </div>
                </div>
            </div>
            <div class="mdl-cell--1-col" style="height:10px;"></div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col stock-list"></div>
        </div>
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--9-col mdl-cell--top">
            <div class="mdl-card__supporting-text mdl-color-text--grey-600 now">
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600 price-chart">
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script src="/static/js/q-basic.js"></script>
<script>
! function() {
    new Q.Basic('#q-basic');
}();
</script>
{% endblock %}
