{% extends "partials/base.html" %} {% block content %}
<div id="q-dma">
    <div class="mdl-grid">
        <div class="mdl-grid mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--2dp mdl-cell--top">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Double Moving Average 双均线系统</h2>
            </div>
            <div class="mdl-card__supporting-text">本页面可以模拟双均线策略在中国两市股票的表现。选择股票代码、偏差值、短线和长线天数以及回测交易日天数，可以生成三张图表和回测结果。</div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="code-input mdl-textfield__input elem" type="text" id="codeInput" value="000001" />
                    <label class="mdl-textfield__label" for="codeInput">Stock code | 股票代码</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="sd-input mdl-textfield__input elem" type="text" id="sdInput" value="0.05" />
                    <label class="mdl-textfield__label" for="sdInput">SD | 偏差阈</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="short-input mdl-textfield__input elem" type="text" id="shortInput" value="5" />
                    <label class="mdl-textfield__label" for="shortInput">Short | 短线天数</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="long-input mdl-textfield__input elem" type="text" id="longInput" value="20" />
                    <label class="mdl-textfield__label" for="longInput">Long | 长线天数</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="length-input mdl-textfield__input elem" type="text" id="lengthInput" value="500" />
                    <label class="mdl-textfield__label" for="lengthInput">Backtesting days | 回测天数</label>
                </div>
                <button class="update-button mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect elem">
                    Update | 回测
                </button>
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Result | 回测结果</h2>
            </div>
            <div class="result-area mdl-card__supporting-text elem"></div>
        </div>
        <div class="mdl-grid mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--2dp mdl-grid--no-spacing">
            <div class="price-chart elem pull-left" style="height: 340px; width:100%"></div>
            <div class="signal-chart elem pull-left" style="height: 340px; width:100%"></div>
            <div class="return-chart elem pull-left" style="height: 340px; width:100%"></div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script src="/static/js/q-dma.js"></script>
<script>
! function() {
    new Q.Dma('#q-dma');
}();
</script>
{% endblock %}
