{% extends "partials/base.html" %} {% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col">
        <h3>Introduction</h3>
        <p>Q Quantitative Analysis platform is a personal project developed by <a href="http://liuhao.im/">Hao Liu</a>.</p>
        <p>Use at your own risk.</p>
        
        <h3>Highlights</h3>
        <ul>
            <li>Stock fundamental information - 2755 stocks in Chinese financial market (SZ & SH)</li>
            <li>Pricing information including Open, Close, High, Low, and Adj close. Total amount: 6529645</li>
            <li><a href="/dma/">Double Moving Average Strategy: s - l > SD x l</a></li>
            <li>Backtesing in HS300, SZ50, ZZ500</li>
        </ul>

        <h3>China-stock Python Module</h3>
        <p><code>china-stock</code> is a Python module that can retrieve stock data from China's two stock exchanges developed by Hao Liu.</p>
        <p><a href="https://github.com/fuermosi777/china-stock">Source</a></p>

        <h3>APIs (REST)</h3>
        <p>APIs are ready for front-end apps.</p>
        <script src="https://gist.github.com/fuermosi777/1b0d903ead72f1a01c8f.js"></script>

        <h3>JavaScript Q Library</h3>
        <p>The front-end library used in this project is called "Q", developed by Hao Liu.</p>
        <script src="https://gist.github.com/fuermosi777/ef1b7f5b8c579e3e5f95.js"></script>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
</div>
{% endblock %} {% block script %} {% endblock %}
