{% extends "partials/base.html" %} {% block content %}
<div id="q-realtime">
    <div class="mdl-grid login-panel" style="display:none;">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Login | 登录</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <input class="mdl-textfield__input username" type="text" id="usernameInput" />
                    <label class="mdl-textfield__label" for="usernameInput">Username | 用户名</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <input class="mdl-textfield__input password" type="password" id="passwordInput" />
                    <label class="mdl-textfield__label" for="passwordInput">Password | 密码</label>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect login-button">
                    Login | 登录
                </button>
                <span class="mdl-color-text--pink login-error" style="display:none;"> Incorrect info | 错误</span>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
    </div>
    <div class="mdl-grid realtime-panel mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--12-col mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Realtime | 实时</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="code-input mdl-textfield__input" type="text" id="codeInput" />
                        <label class="mdl-textfield__label" for="codeInput">Stock code | 股票代码</label>
                    </div>
                </div>
                <div class="mdl-card__supporting-text stock-result-list">
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp mdl-color--black">
                <div class="mdl-card__supporting-text terminal mdl-color-text--green"></div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-grid">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--6-col stock-table">
                <thead>
                    <tr>   
                        <th></th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>DMA Signal</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp realtime-chart" style="height: 300px;"></div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script src="/static/js/q-realtime.js"></script>
<script>
(function() {
    new Q.Realtime('#q-realtime');
}());
</script>
{% endblock %}
