{% extends "partials/base.html" %} {% block content %}
<div class="mdl-grid">
    <div class="mdl-grid mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp mdl-cell--top">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Simulation | 模拟</h2>
        </div>
        <div class="mdl-card__supporting-text">
            本页面可以模拟回测指定股票集合，通过自定义策略变量得到策略的最优解
        </div>
        <div class="mdl-card__supporting-text">
            <label for="stock-category">Choose stocks</label>
            <select id="stock-category">
                <option value="hs300">沪深300</option>
                <option value="sz50">上证50</option>
                <option value="zz500">中证500</option>
            </select>
        </div>
        <div class="mdl-card__supporting-text">
            <label for="strategy">Choose strategy</label>
            <select id="strategy">
                <option value="dma">Double Moving Average</option>
            </select>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input class="mdl-textfield__input" type="text" id="default-param" value="short=5&long=20&sd=0.05&length=500" />
                <label class="mdl-textfield__label" for="default-param">Default Value | 变量</label>
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" id="start-btn">
                Start | 开始
            </button>
        </div>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--9-col mdl-card mdl-shadow--2dp mdl-color--black mdl-color-text--white">
        <div class="mdl-card__actions">
            <div id="q-simulation"></div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script src="/static/js/q-simulation.js"></script>
<script>
(function() {
    var sim = new Q.Simulation('#q-simulation');
    $('#start-btn').on('click', function() {
        sim.startover();
        sim.setStrategy($('#strategy').val());
        sim.setParam($('#default-param').val());
        sim.getStocks($('#stock-category').val())
            .then(function(data) {
                sim.simulate(data);
            });
    });
}());
</script>
{% endblock %}
