{% extends "partials/base.html" %} {% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <div id="q-use">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored start-button">
                        Get latest signals | 获取最近交易日交易信号(根据DMA策略)
                    </button>
                    <div class="mdl-progress mdl-js-progress progress-bar"></div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--4-col buy-list">
                    <div class="mdl-card__title">
                        <span>Buy 买入信号</span> <div class="mdl-layout-spacer"></div> <span class="mdl-color-text--pink badge">0</span>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--4-col sell-list">
                    <div class="mdl-card__title">
                    <span>Sell 卖出信号</span> <div class="mdl-layout-spacer"></div> <span class="mdl-color-text--pink badge">0</span>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--4-col hold-list">
                    <div class="mdl-card__title">
                        H<span>old 持有信号</span> <div class="mdl-layout-spacer"></div> <span class="mdl-color-text--pink badge">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>
{% endblock %} {% block script %}
<script src="/static/js/q-use.js"></script>
<script>
(function() {
    new Q.Use('#q-use');
}());
</script>
{% endblock %}
